.event {
	text-align: center;
	display: flex;
	width: 100%;
	word-break: break-word;
	min-height: 72px;
	align-items: center;
}
.eventName {
	flex: 1;
	justify-self: center;
	height: fit-content;
	font-weight: 500;
}

.logoutButton {
	justify-self: flex-end;
	transform: rotateY(180deg);
	color: white;
}
